{% extends 'base.html'%}

{% block content %}




<div class="form-container">

    <form class="artist-form" action="" method="post" onSubmit="clearField();">


        {% csrf_token %}

        <table>

            {% if object %}
                <h1>Edit <span>{{ object.name }}</span></h1>
            {% else%}
                <h1>Add Artist</h1>
            {% endif %}


            {{form.as_table}}
            
        </table>

        <input type="submit" value="Submit" class=" ">

    </form>



    {% endblock %}

</div>