{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>The Phonograph</title>
  </head>
  <body>
    <div class="font-mono master-content " style="background-color: #e5e3d7">
      <header>
        <nav
          class="flex justify-between top-nav h-12 items-center"
          style="background-color: white"
        >
          <div><a href="{% url 'home' %}"><img class="" style="height: 35px;" src="/static/images/PhonographLogo.png" alt=""></a></div>

          <div class="link-container">


            <div><a href="{% url 'home' %}" class="mr-4">Home</a></div>
            <div><a href="{% url 'about' %}" class="mr-4">About</a></div>
            
            
            
            {% if user.is_authenticated %}
            <div><a href="{% url 'users_detail' user.id %}" class="mr-4">Profile</a></div>
            <div><a href="{% url 'get_crate' %}" class="mr-4">Crate</a></div>
            <div>
              <a href="{% url 'new_password_reset' %}" class="mr-4"
                >Change Password</a
              >

            </div>
            <div><a href="{% url 'logout' %}">Logout</a></div>

            {% else %}
            <div><a href="{% url 'login' %} " class="mr-4">Login</a></div>
            <div><a href="{% url 'signup' %}">Signup</a></div>
            {% endif %}
          </div>
        </nav>
      </header>

      <nav
        class="bottom-nav h-16 items-center"
        style="background-color: #524f4a; color: white"
      >
        <div class="bottom-link-container">
          <div>
            <a href="{% url 'records_index' %}" class="mr-4 ml-2">Records</a>
          </div>
          <div><a href="{% url 'artists_index' %}">Artists</a></div>
        </div>

        <div class="create-container">
          {% if user.is_authenticated %}

          <div>
            <a href="{% url 'records_create' %}" class="mr-4">Create Record</a>
          </div>
          <div>
            <a href="{% url 'artists_create' %}" class="mr-2">Add Artist</a>
          </div>
          {% endif %}
        </div>
      </nav>

      <main>
        <div class="message-container">
          {% include 'main/includes/messages.html' %}
        </div>
        {% block content %} {% endblock %}
      </main>

      <footer
        class="p-4 flex items-center justify-between self-end"
        style="
          position: fixed;
          bottom: 0;
          width: 1300px;
          background-color: #524f4a;
          color: white;
        "
      >
        <span class="text-center"
          >© 2022
          <a href="{% url 'home' %}" class="hover:underline">The Phonograph™</a
          >. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center">
          <li>
            <a href="{% url 'about' %}" class="mr-4 hover:underline">About</a>
          </li>
          <li>
            <a href="#" class="mr-4 hover:underline">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="mr-4 hover:underline">Licensing</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Contact</a>
          </li>
        </ul>
      </footer>
    </div>

    <script>
      setTimeout(() => {
        const alertBox = document.getElementById("alert");
        alertBox.style.display = "none";
      }, 3000);
    </script>
  </body>
</html>
