{% extends 'base.html' %} {% block content %}

<div>
  <div class="flex justify-center mb-3 mt-3">
    <h1 class="record-name">Password reset sent</h1>
  </div>

  <hr style="border: 1px solid #524f4a" />

  <hr />

  <div class="flex justify-center mb-3 mt-3">
    <p style="width: 500px">
      We've emailed you instructions for setting your password, if an account
      exists with the email you entered. You should receive them shortly.<br />If
      you don't receive an email, please make sure you've entered the address
      you registered with, and check your spam folder.
    </p>
  </div>
  <hr style="border: 1px solid #524f4a" />
</div>

{% endblock %}
