{% extends 'base.html' %} {% block content %}

<div>
<div class="flex justify-center mb-3 mt-3">

    <h1 class="record-name">Reset Password:</h1>
</div>

    <hr style="border: 1px solid #524f4a;">
<div class="flex justify-center mb-3 mt-3">

    <p style="width: 500px;">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
</div>

<div class="flex justify-center mb-3 mt-3">

    <form method="POST">
            {% csrf_token %}
            {{ password_reset_form }} 
            <br>                   
            <button type="submit" class="text-white py-2 px-4 border-b-4 border-yellow-700 hover: border-amber-400 rounded mt-3" style="background-color: #524F4a">Send email</button>
        </form>
    </div>
    <hr style="border: 1px solid #524f4a;">

</div>

{% endblock %}