{% extends 'base.html' %} {% block content %}

<div class="flex justify-center mb-3 mt-3">
  <h1 class="record-name">Password Reset Confirm</h1>
</div>

<hr style="border: 1px solid #524f4a" />

<div class="flex justify-center mt-3">
  <div><p>Please enter your new password:</p></div>
</div>
<div class="flex justify-center">
  <form method="POST">
    {% csrf_token %} {{ form }}
    <div class="flex justify-center">
      <button
        type="submit"
        class="text-white py-2 px-4 border-b-4 border-yellow-700 hover: border-amber-400 rounded mb-3"
        style="background-color: #524f4a"
      >
        Reset password
      </button>
    </div>
  </form>
</div>
<hr style="border: 1px solid #524f4a" />

{% endblock %}
